*Importing pandas.*

In [1]:
import pandas as pd

*Loading the dataset.*

In [2]:
df_movies = pd.read_csv('User_Movie_Ratings.csv', index_col = 'User')

df_cars = pd.read_csv('carprices.csv', index_col = None)

buffet_data = pd.read_csv('Buffet_Details.csv')

### ❓ Question  

*Accesses the ratings of the movies ‘Thor’, ‘Spiderman’, and ‘Insidious’ from the df_movies dataframe?*

In [3]:
df_movies.columns

Index(['Thor', 'Justice League', 'Spiderman', 'The Notebook', 'Casablanca',
       'Beauty and the Beast', 'Dolittle', 'The Kissing Booth', 'Annabelle',
       'Insidious'],
      dtype='object')

In [4]:
df_movies[['Thor', 'Spiderman','Insidious']]

           Thor  Spiderman  Insidious
User
Arnold        6          6          1
Ben           9          8          8
Catherine    10          9          9
Disha         6          7          6
Euclid        7          3          7
Farhaan       6          9          4
Gaurav        8          9          7
Hilbert       6          8          1
Indira       10          9          8
Jason        10          9          4
Kenny         3          5          3
Lambert       5          4          9
Manish        7          6          5
Niti          3          2          5
Oliver        4          4          2
Pranav        8          8          7
Qader         8          8          5
Ravi          8          9         10
Sushant       5          6          5
Tavneet       1          4          5

### ❓ Question  

*Which car's information is stored in the 78th row of the `df_cars` dataframe?*

In [5]:
df_cars.iloc[77]['carname']

'mitsubishi lancer'

### ❓ Question  

*How can we retrieve the rating ‘Indira’ gave to the movie ‘Annabelle’ in the df_movies dataframe?*

In [6]:
df_movies.head(n=3)

,Thor,Justice League,Spiderman,The Notebook,Casablanca,Beauty and the Beast,Dolittle,The Kissing Booth,Annabelle,Insidious
User,,,,,,,,,,
Arnold,6,5,6,4,5,4,9,8,2,1
Ben,9,10,8,3,1,1,2,5,7,8
Catherine,10,8,9,5,6,7,8,5,9,9

In [7]:
print (f"Rating given by Indria to the movie Annabelle: {df_movies.loc["Indira","Annabelle"]}")

Rating given by Indria to the movie Annabelle: 6

### ❓ Question  

*Write the Pandas code to select the rows for `Manish and Ravi`, but only the columns from `Thor through Spiderman`.*

In [8]:
df_movies.loc[['Manish', 'Ravi'], 'Thor':'Spiderman']

        Thor  Justice League  Spiderman
User
Manish     7               6          6
Ravi       8               7          9

### ❓ Question  

*How can you determine the number of sedans in the df_cars dataframe?*

In [9]:
df_cars[df_cars['carbody'] == 'sedan'].shape[0]

96

In [10]:
len(df_cars[df_cars['carbody'] == 'sedan'])

96

### ❓ Question  

*Let’s say you want to know how many users in the df_movies dataframe rated more than 7 for Thor and Spiderman but rated 7 or less for Dolittle.*

In [11]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Arnold to Tavneet
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Thor                  20 non-null     int64
 1   Justice League        20 non-null     int64
 2   Spiderman             20 non-null     int64
 3   The Notebook          20 non-null     int64
 4   Casablanca            20 non-null     int64
 5   Beauty and the Beast  20 non-null     int64
 6   Dolittle              20 non-null     int64
 7   The Kissing Booth     20 non-null     int64
 8   Annabelle             20 non-null     int64
 9   Insidious             20 non-null     int64
dtypes: int64(10)
memory usage: 2.3+ KB

In [12]:
df_movies [(df_movies['Thor'] > 7) & (df_movies['Spiderman'] > 7) & (df_movies['Dolittle'] <= 7)][['Thor','Spiderman','Dolittle']].shape[0]

6

### ❓ Question  

*Each car in the `df_cars` DataFrame has columns for spatial dimensions (`carlength`, `carwidth`, `carheight`) and for weight (`curbweight`).*  

*How would you calculate the **density** of each car in `df_cars` using the above data and store the values in a new column called `density`?*  

*Note:*  

- *Density = Mass / Volume*  
- *Volume = length × width × height*

In [13]:
df_cars.columns

Index(['car_ID', 'symboling', 'carname', 'doornumber', 'carbody',
       'enginelocation', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'cylindernumber', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [14]:
df_cars[['carlength', 'carwidth', 'carheight']].isnull().sum()

carlength    0
carwidth     0
carheight    0
dtype: int64

In [15]:
Volume = df_cars ['carlength'] * df_cars ['carwidth'] * df_cars ['carheight']
df_cars ['Density'] = df_cars ['curbweight'] / Volume

In [16]:
df_cars['Density'].head(3)

0    0.004826
1    0.004826
2    0.004804
Name: Density, dtype: float64

### ❓ Question  

*Find the mean action movie rating for each user without using the mean function in the dataframe df_movies without modifying the original dataframe and identify users whose mean action movie ratings are more than 8.*

In [17]:
action_movies = (df_movies['Thor'] + df_movies['Justice League'] + df_movies['Spiderman']) / 3
action_movies[action_movies > 8].index

Index(['Ben', 'Catherine', 'Gaurav', 'Indira', 'Jason', 'Pranav'], dtype='object', name='User')

### ❓ Question  

*What is the price difference between the most and least expensive cars in the df_cars dataframe?*

In [18]:
df_cars.columns

Index(['car_ID', 'symboling', 'carname', 'doornumber', 'carbody',
       'enginelocation', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'cylindernumber', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price', 'Density'],
      dtype='object')

In [19]:
print(f"The price difference between the most and least expensive car: {df_cars['price'].max() - df_cars['price'].min()}")

The price difference between the most and least expensive car: 40282.0

### ❓ Question  

*If you take the mean rating as a measure of popularity, which one of the following can be used to find the name of the most popular movie?*  

*NOTE: There can be more than one correct option.*  

**Options:**  
1. `df_movies.describe().transpose()['mean'].idxmax()`  
2. `df_movies.describe().loc['mean'].idxmax()`  
3. `df_movies.mean().max()`  
4. `df_movies.describe().transpose().max()['mean']`

In [20]:
df_movies.describe().transpose()['mean'].idxmax()

'Spiderman'

In [21]:
df_movies.describe().loc['mean'].idxmax()

'Spiderman'

### ❓ Question  

*How can you determine the number of cars with two doors or four doors in the df_cars dataframe?*

In [22]:
df_cars.columns

Index(['car_ID', 'symboling', 'carname', 'doornumber', 'carbody',
       'enginelocation', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'cylindernumber', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price', 'Density'],
      dtype='object')

In [23]:
df_cars ['doornumber']

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: doornumber, Length: 205, dtype: object

In [24]:
df_cars['doornumber'].value_counts()

doornumber
four    115
two      90
Name: count, dtype: int64

In [25]:
print (f"Total number: {df_cars[df_cars ['doornumber'].isin(("two","four"))]['car_ID'].shape[0]}")

Total number: 205

### ❓ Question  

*How can you summarise the dataframe df_cars by grouping it based on the type of car body and calculating the median price and mean horsepower for each group?*

In [26]:
df_cars.columns

Index(['car_ID', 'symboling', 'carname', 'doornumber', 'carbody',
       'enginelocation', 'wheelbase', 'carlength', 'carwidth', 'carheight',
       'curbweight', 'cylindernumber', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price', 'Density'],
      dtype='object')

In [27]:
df_cars.groupby('carbody').aggregate({'price': 'median', 'horsepower': 'mean'})

               price  horsepower
carbody
convertible  17084.5  131.666667
hardtop      19687.5  142.250000
hatchback     8897.0  101.171429
sedan        10846.5  103.104167
wagon        11694.0   97.440000

### ❓ Question

*The indices are 0-N Numbers for the df_cars dataset.*</br>
*Now if you want to access df_cars columns by car_ID, what will be your approach?*

In [28]:
df_cars.set_index('car_ID', inplace=True)

In [29]:
df_cars.head()

,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,...,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Density
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,130,3.47,2.68,9.0,111,5000,21,27,13495.0,0.004826
2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,2548,...,130,3.47,2.68,9.0,111,5000,21,27,16500.0,0.004826
3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,2823,...,152,2.68,3.47,9.0,154,5000,19,26,16500.0,0.004804
4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,2337,...,109,3.19,3.40,10.0,102,5500,24,30,13950.0,0.003681
5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,2824,...,136,3.19,3.40,8.0,115,5500,18,22,17450.0,0.004435